@media print {
  @page {
    margin: 14pt;
    size: A4;
  }
  .section-link {
    display: block;
    font-size: 10pt;
    font-style: italic;
  }
  :root {
    --white: #ffffff;
    --black: #000000;
    --dark: #ffffff;
    --life: #ffffff;
    --grey: #555555;
  }

  html {
    font-size: 11pt;
    width: 210mm;
    height: 297mm;

  }

  body {
    margin: 0;
    padding: 0;
    background: var(--white);
    color: var(--black);
        font-size: 11pt;

  }
  .skill-title {
    font-size: 13pt;
}
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }

  /* Hide elements not for print */
  .Footer,
  .no-print {
    display: none !important;
  }

  /* Header */
  #header {
    position: relative;
    height: auto;
    padding: 8pt;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
  }

  /* Presentation */
  .printPres {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10pt;
  }
  
  .print-link {
    font-size: 10pt;
    text-align: left;
  }

  #links {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  #qr {
    height: 50pt;
    width: 50pt;
  }
  #titles-container {
    margin-bottom: 6pt;;
  }
  #headline {
    font-size: 12pt;
    display: block;
    
  }

  #name {
    color: var(--black);
    font-size: 16pt;
    font-weight: 700;
  }

  /* Titles */
  .item-title,
  .other-title {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--grey);
    text-decoration-thickness: 1pt;
    margin-bottom: 0pt;
  }

  .user-title,
  .separator {
    display: inline;
  }

  .section-title {
    color: var(--black);
    background-color: var(--white);
    font-size: 14pt;
    height: auto !important;
    margin-top: 10pt;
    margin-bottom: 10pt;
  }

  /* Sections and containers */
  #presentation,
  .section {
    margin-top: 0pt;
    margin-bottom: 4pt;
  }

  .items-container,
  #other-skills,
  #skills {
    margin-top: 0pt !important;
    gap: 0pt !important;
  }

  /* Skills layout */
  #skills {
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 8pt;
    align-items: stretch;
  }

  .skill {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }



  #languages .items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .skill .items-container {
    margin-top: 4pt !important;
  }
  .other,
  .skill {
    font-size: 10pt;
    width: 31%;
    min-height: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  /* Items */
  .item,
  .skill-title {
    margin-bottom: 4pt !important;
  }

  .items-container {
    margin-top: 10pt !important;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4pt;
  }
}
